body {
	margin:0;
	padding:0;
	width:100%;
	color:#6d6d6d;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	background: url(../img/bg.jpg) repeat;
}
html, .main {
	padding:0;
	margin:0;
}
h3 {font-family: 'Open Sans', sans-serif;
	text-shadow:#fff 0 0 1px;
	font-size:20px;
	font-weight:normal;
	color:#353c46;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	text-shadow:#ccc 0 1px 1px;
	margin:8px 0;
	padding:8px 0;
	font-size:25px;
	font-weight:normal;
	color:#353c46;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#06f;
	text-decoration:none;
}
.article a:hover{text-decoration:underline;}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
h1 {
	margin:0;
	padding:32px 0 0;
	font-size:25px;
	font-weight:normal;
	line-height:1.2em;
	text-transform:none;
}
h1 a, h1 a:hover {
	color:#0e1445;
	text-decoration:none;
}
.menu_nav {
	margin:0 auto;
	padding:31px 0 0;
	height:42px;
	float:left;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:42px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	margin-right:10px;
	padding:0 0 0 2px;
	float:left;
}
.menu_nav ul li a {
	font-family: 'Open Sans', sans-serif;
	text-shadow:#fff 0 0 1px;
	display:block;
	margin:0;
	padding-top:10px;
	width:114px;
	height:30px;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	color:#000;
	text-decoration:none;
	text-transform:none;
	text-align:center;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-shadow:#000 0 0 1px;
	text-decoration:none;
	color:#fff;
	-moz-box-shadow: 0 0 1px 1px #06F;
	-webkit-box-shadow: 0 0 1px 1px #06F;
	box-shadow: 0 0 1px 0px #06F;
	background:#2E8ACF;
}
.content {
	margin:0 auto;
	padding:48px 0;
	width:960px;
}
.content .mainbar {
	margin:0;
	padding:12px 20px;
	float:left;
	width:920px;
	background:#f4f4f4;
	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px#888;
	box-shadow: 0 0 1px 1px #888;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.content .mainbar h2 {
	margin-bottom:8px;
	padding-bottom:8px;
	font-size:30px;
	line-height:1.2em;
	color:#3f3f3f;
	border-bottom:1px solid #bebebe;
}
.content .mainbar div.img {
	padding:12px 0 0;
	float:left;
}
.content .mainbar .article {
	margin:0 0 32px;
	padding:0 0 0 20px;
}
.footer {
	background:#0f3d9f url(../design/main_bg.gif) repeat-x left top;
	border-top:1px solid #323232;
}
.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	line-height:1.5em;
	color:#e7eff1;
	
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#06f;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:none;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#06f;
	background-color:transparent;
	text-decoration:underline;
}
.footer_resize .lf {
	float:left;margin-top:18px;
}
.footer_resize .centerfooter {
	float:left; margin-left:270px;margin-top:15px;
}
.footer_resize .rf {
	float:right;margin-top:15px;
}
a {
	outline:none;
}
.caja1 {
	
	padding:3px 0px 8px;
	margin:45px 5px 0 20px;
	width:455px;
}
.horario{margin: 0 auto;
}
.f-left {float:left !important;} img.f-left {float:left; margin-right:10px;}
.f-right {float:right !important;} img.f-right {float:right; margin-left:10px; margin-top:30px;margin-right:20px;}
#botonV {
   -moz-border-radius:4px;
    -webkit-border-radius:4px;
	border-radius:4px;
    background:#84B528;
    border:1px solid #060;
    color:#FFFFFF;
    padding: 5px 10px;
	 width: auto;
  	overflow: visible;
    margin:0 5px 0 0;
    font-weight:bold;
}
#botonV:hover {
    cursor:pointer;
    background:#669900; color:#FFFFFF;
}
#botonV:active {
   background:#84B528;
   border:1px solid #060;
   } 
#botonR {
  -moz-border-radius:4px;
    -webkit-border-radius:4px;
	border-radius:4px;
    background:#F00;
    border:1px solid #900;
    color:#FFFFFF;
    padding: 5px 10px;
	 width: auto;
  	overflow: visible;
    margin:0 5px 0 0;
    font-weight:bold;
	
}
#botonR:hover {
    cursor:pointer;
    background:#C00; color:#FFFFFF;
}
#botonR:active {
   background:#F00;
   border:1px solid #900;
   } 
